/* reset css*/
*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.text {
    color: #fff !important;
}

.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}
.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 11px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    text-align: center;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.header {
    position: fixed;
    height: 46px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__nav{
    display: inline-block;
}

/* li cấp 1*/
.header__nav > li {
    display: inline-block;
}

.header__nav li {
    position: relative;
    
}

.header__nav > li > a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    height: 100%;
}

.header__nav li a {
   
    text-decoration: none;
    line-height: 46px;
    padding: 0 26px;
}

.header__nav li:hover .header__subnav{
    display: block;
}

.header__nav > li:hover > a,
.header__subnav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

.nav-arrow-down {
    font-size: 14px;
}



.header__nav .header__subnav {
    list-style: none;
}

.header__subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

.header__nav .header__subnav a {
    display: block;
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    width: 100%;

}

.header__search-mobile-btn,
.header .header__search-btn {
    float: right;
    padding: 0 21px;
}

.header .header__search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

.header__search-mobile-btn:hover{
    background-color: #ccc;
}

.header__search-mobile-btn:hover .menu-icon{
    color: #000;
}

.header .menu-icon,
.header .header__search-icon {
    color: #fff;
    font-size: 28px;
    line-height: 46px;
}

.slider {
    position: relative;
    margin-top: 46px;
    filter: grayscale(90%);
}

.text-content{
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

.text-heading {
    font-size: 24px;
    font-weight: 500;
}

.text-description {
    margin-top: 25px;
}

.content {
    
}
.content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto 0 auto;
    padding: 64px 0 112px;
    padding-right: 16px;
    padding-left: 16px;
}

.content-section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}

.content-section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin: 25px 0;
    font-style: italic; 
    
    color: #777;
}

.about-text {
    text-align: justify;
    color: #777;
    line-height: 1.4;
}

.member-list {
    margin-top: 32px;
}



.member-name {
    font-size: 15px;
    
}

.member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

.tour-section{
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-item {
    color: #757575;
    padding: 11px 36px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.sold {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.places-list {
    margin-top: 16px;
}



.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.contact-container {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-icon {
    width: 30px;
    display: inline-block;  
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}

.footer {
    padding: 64px 16px;
    text-align: center;
}

.social-media {
    font-size: 24px;
}

.social-media a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);

}

.social-media a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copyright {
    margin-top: 15px;
}

.copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.header__search-mobile-btn {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}